{
  "presets": [
    "@babel/typescript"
  ],
  "plugins": [
    // "@babel/proposal-class-properties",
    // "@babel/proposal-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
